
.body{
    height: 100vh;
    overflow: hidden;
}

.all-container{
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;   
}

.red{
    color:#ff003c;
}

.blue{
    color: #286ee3;
}

.green{
    color:#58a201;
}

.orange{
    color:#fd6103;
}

.edit img, .edit iframe{
    max-width: 100%;
    height:auto;
}

.edit table{
    max-width: 100%;
}

.btn-box{
    width: 100%;
    padding: 20px 10px 70px 10px;
    text-align: center;
}

.btn-success{
    color: #fff;
}

.btn-success:hover{
    color:#fff;
}

.big-title{
    width: 100%;
    padding: 85px 0;
    text-align: center;
}

.big-title__text{
    padding: 0 25px 30px 25px;
    display: inline-block;
    position: relative;
}







